# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Symlinked env files for development
apps/*/.env

# Testing
coverage

# Turbo
.turbo

# Vercel
.vercel

# Build Outputs
.next/
out/
build
dist
tsconfig.tsbuildinfo


# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.DS_Store
*.pem

# Test scripts
test-scripts/

# Terraform
*.tfvars
*.tfstate
*.tfstate.backup
*.tfplan
*.tfplan.backup
*.tfplan.backup.json
*.tfplan.backup.json.gz
*.tfplan.backup.json.gz.base64
*.tfplan.backup.json.gz.base64.gz
.terraform


# Documentation
docs-hub/
documentation